*{
    box-sizing: border-box;
}
header{
    background-image: url('./images/bg-hero-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: hsl(193, 100%, 96%);
}
.container{
    display: flex;
    justify-content:space-between;
    position: relative;
}
.container img{
    max-width: 50%;
    margin: 5%;
}
.container  button{
    position: relative;
    top: 25%;
    right: 10%;
}
button{
    border-radius: 10px;
    color:pink;
    border: none;
    background-color: white; 
    padding: 5px 10px;
}
.paragraph{
    text-align: center;
    font-size: 15px;
    margin: 40px 20px;
}
.getstarted{
    background-color: pink;
    color:white;
}
.paragraph img{
    margin:10px 0;
    max-width: 100%;
}
.cardsection{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.card{
    background-color:whitesmoke;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    padding: 30px 10px;
   max-width: 100%;
}
.card img{
    max-width: 50%;
}
.lastsection{
    background-color: white;
    padding: 30px;
}
.lastcontainer{
    border-radius: 10px;
background-color: whitesmoke;
text-align: center;
font-size: 10px;
position: relative;
z-index: 1;
margin: 10px;
padding: 20px 0;
}
.btn{
    padding: 10px 10px;
}
footer{
    margin-top: -20%;
    background-color: rgb(30, 30, 77);
    color: white;
}
.footersection{
   text-align: center;
   position: relative;
   padding: 50px;
}
.Contactinfo ul{
    position: relative;
    right: 6%;
    list-style: none;
}
.sociallink a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    position: relative;
    margin:0 10px;
    left: 5px;
}
@media all and (min-width:508px) and (max-width:768px){
    footer{
        margin: -15% 0;
    }
    .footerlist{
        position: relative;
        top: 30px;
    }
    .Contactinfo{
        position: relative;
       margin: 0 20%;
    }
}
@media all and (min-width:768px) and (max-width:1019px){
footer{
    margin:-10% 0;
}
    .footerlist{
        position: relative;
        top: 50px;
    }
    .Contactinfo{
        position: relative;
        margin: 0 20%;
    }
    .sociallink a{
        position: relative;
        left: 0;
    }
}
@media all and (min-width: 1020px){
    .container img{
        margin: 10%;
        max-width: 100%
    }
    .container button{
        max-width: 100%;
        padding: 20px 20px;
        position: relative;
        right: 20%;
        top: 20%;
    }
    header{
        background-image: url('./images/bg-hero-desktop.svg');
    }
    .paragraph{
        display: flex;
    }
    .buildcommunity{
 margin: 10% 5%;       
    }
    .card{
        display: flex;
    }
    .row{
        flex-direction: row-reverse;
    }
    .trio{
        margin: 5%;
    }
    .lastsection{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lastcontainer{
       padding: 5% 10%;
    }
    footer{
        margin-top: -6%;
    }
    .footerlist{
        display: flex;
        text-align: left;
    }
    .locationinfo{
        max-width: 30%;
    }
    .Contactinfo{
        margin:auto;
        display: flex;
    }
    .sociallink{
        margin: auto;
    }
}